.margine {
    background-color: #CEE5F2;
    height: 100vh;
}

.sfondo {
    background-color: #637081;
    height: 100vh;
}

.jumbotron {
    background-color: #7C98B3;
    padding-top: 10px !important;
    padding-bottom: 10px !important;

    text-align: center;
}

.logoazienda {
    width: 100%;
    height: auto;
}

hr{
    height: 0px;
    width: 50vh;;
    border: none;
    border-top: 1vh solid #CEE5F2;
}

.jumbotron{
    border: 1vh solid #CEE5F2;
    width: 80vh;
    margin-left: auto;
    margin-right: auto;
}

a :hover{
    background-color: #536B78;
    cursor: pointer;
}


.logoAziende{
    height: 100px;
    width: 100px;
    }

a{
    color: black;
}

.aggiungiAzienda{
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
}

