#titolo {
  background: #accbe1;
}

#body {
  background: rgba(83,107,120,0.66);
}

.rettangolo:hover {
  background-color: #d5e2eb !important;
  cursor: pointer;
}

.profiloDipendente{
  background:url(fotoACaso.jpg) center/contain no-repeat;
}